attrs==21.2.0
backports.entry-points-selectable==1.1.0
click==8.0.1
colorama==0.4.4
dbml-sqlite==0.3.3
distlib==0.3.2
filelock==3.0.12
jsonschema==3.2.0
packaging==21.0
peewee==3.14.4
platformdirs==2.2.0
pluggy==0.13.1
py==1.10.0
pydbml==0.3.4
pyparsing==2.4.7
pyrsistent==0.18.0
six==1.16.0
toml==0.10.2
tox==3.24.1
virtualenv==20.7.0
